
html, body {
    margin:0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}  

/* ===== The Modal ===== */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
  }
  
.modal-content {
  display: block;
  position: relative;
  background-color: #1e1e1e;
  /* margin: 10% auto; */
  padding: 20px;
  top: 10%;
  left: calc(50% - 200px);
  border: 1px solid #ccc;
  overflow: auto;
  width: 400px;
  height: 80%;
  box-sizing: border-box;
  animation-name: animatetop;
  animation-duration: 0.25s;
  /* border-radius: 25px; */
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes animatetop {
  from {top: -400px; opacity: 0}
  to {top: 10%; opacity: 1}
}

.modal-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-content ul li a {
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    color: #ccc;
    text-decoration: none;
    width: 100%;
}

.modal-content ul li a:hover {
    background-color: #444;
    transition: 0.25s;
}

/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* ===== Overlay ===== */

.overlay {
  display: block;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 7px;
  width: 17em;
  height: 5em;
  overflow: auto;
  /* margin: 0; */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.25);
  text-align: left;
  box-sizing: border-box;
  color: #ccc;
  font-family: Arial, Helvetica, sans-serif;
  /* border-radius: 25px; */
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay ul li a {
  color: #ddd;
  font-weight: bold;
}
