pin-depends: [
  [ "cduce-types.dev" "git+https://gitlab.math.univ-paris-diderot.fr/cduce/cduce#bb7ad63926826c3cf4102caad1d5b9418b18488a" ]
  [ "cduce.dev" "git+https://gitlab.math.univ-paris-diderot.fr/cduce/cduce#bb7ad63926826c3cf4102caad1d5b9418b18488a" ]
]