pin-depends: [
  [ "cduce-types.dev" "git+https://gitlab.math.univ-paris-diderot.fr/cduce/cduce#35e8d73efdbee309fb8fdafbdaf931ed70f39e00" ]
  [ "cduce.dev" "git+https://gitlab.math.univ-paris-diderot.fr/cduce/cduce#35e8d73efdbee309fb8fdafbdaf931ed70f39e00" ]
]